*.DS_Store
*.vscode
*synctex*
*.acr
*.acn
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.toc

*__pycache__*
*.ipynb_checkpoints*

*.fuse_hidden*
